body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid hsl(0, 0%, 88%);
}
.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar-logo img {
    height: 24px;
    margin-right: 20px;
}
.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-links a {
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    font-size: 14px;
    font-weight: bold;
}
.navbar-links a:hover {
    color: hsl(357, 95%, 62%);
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 25px;
}
.login {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.sign-up {
    background-color: hsl(202, 84%, 17%);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s;
}
.sign-up:hover {
    background-color: hsl(202, 84%, 44%);
}