{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostAll</title>
    <link rel ="stylesheet" href ="/static/css/style.css">
</head>
<body>
    <div class="loginPage">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <br>
            <label>Username</label>
            <input type="text" name="username"><br><br>
            <label>Password</label>
            <input type="text" name="password"><br><br>
            <p> Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            <input type="submit" value ="Submit">
        </form>
    </div>

</body>
</html>
{% endblock %}